#galleryPage {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#gallery {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.card {
    margin: var(--margin2);
    border-radius: var(--radius);
}

.card>h3 {
    margin-left: var(--margin2);
}

.thumbnail {
    display: flex;
    justify-content: center;
    align-items: center;
    width: var(--sizeThumbnail);
    height: var(--sizeThumbnail);
    background: var(--colorBgThumbnail);
    margin: var(--margin2);
    border-radius: var(--radius);
    outline: 2px solid var(--colorBorder0);
    transition: all var(--timeTransition1);
}

.thumbnail:hover {
    transform: scale(1.1);
    outline: 2px solid var(--colorBorder1);
}

.thumbnail>img {
    max-width: var(--sizeThumbnail);
    max-height: var(--sizeThumbnail);
}

.material-symbols-outlined:hover {
    cursor: default;
}


@media only screen and (min-width: 800px) {
    #gallery {
        flex-direction: row;
        flex-wrap: wrap;
    }

    #mask {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: black;
        opacity: 0.4;
    }

    #slider {
        position: absolute;
        top: 10em;
        background-color: brown;
        height: 450px;
        width: 80%;
        border: 1px solid pink;
    }
}